{% for section in sections -%}
## {{ section.title }}

{% for file in section.files -%}
### `{{ file.name }}`

{{ file.description }}

{{ file.table }}
{%- if file.notes %}
#### Notes
{% if file.notes.description %}
{{ file.notes.description }}{% endif %}
{% if file.notes.table %}
{{ file.notes.table }}{% endif -%}
{%- endif %}
{% endfor -%}
{% endfor %}
